@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro:ital@1&display=swap');

body {
    background-color: #1F202C;
}

header {
    text-align: center;
}

h1.header {
    font-family: 'Open Sans';
    font-size: 64px;
    color: white;
    margin-top: 8px;
}

/* Buttons */
div#controls {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

button.control {
    width: 20%;
    background-color: #2F346D;
    border: hidden;
    border-radius: 8px;
    height: 32px;
    color: white;
    font-family: 'Source Code Pro';
    transition: 0.5s;
    outline: none;
}

button.control:hover {
    background-color: #5a5a5a;
}

button.control:active {
    background-color: white;
    color: black;
}

/* Colums */
table#app {
    width: 80%;
    margin: auto;
    margin-bottom: 64px;
}

tr {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    margin: 8px;
    background-color: #2F346D;
    border: hidden;
    border-radius: 8px;
}

th {
    font-family: 'Source Code Pro';
    color: White;
    text-transform: capitalize;
    width: 100%;
}

input.field {
    width: 100%;
    height: 32px;
    margin: 4px;
    font-family: 'Source Code Pro';
    background-color: #5a5a5a;
    color: white;
    border: hidden;
    border-radius: 4px;
    outline: none;
    transition: 0.5s;
}

input.field:focus {
    color: black;
    background-color: floralwhite;
}